# Ignore everything by default
*

# Allow only specific files and directories to be committed
!R/fieldworker_db_management.qmd
!bdot_db.Rproj

!data/BADO_combo_matricies.xlsx
!data/argos/ArgosData_2025_03_17_19_57_56.csv
!data/argos/ArgosData_2025_03_17_19_58_31.csv
!data/argos/ArgosData_2025_03_17_19_59_05.csv
!data/argos/ArgosData_2025_03_17_19_59_42.csv
!data/argos/ArgosData_2025_03_17_20_00_15.csv
!data/argos/ArgosData_2025_03_17_20_00_47.csv
!data/argos/ArgosData_2025_03_17_20_01_20.csv
!data/argos/ArgosData_2025_03_17_20_01_43.csv
!data/argos/ArgosData_2025_03_17_20_02_10.csv
!data/argos/ArgosData_2025_03_17_20_02_34.csv
!data/argos/ArgosData_2025_04_07_14_49_14.csv
!data/tissue_samples_banded_dotterel_2024_breeding_season_AgReseach.xlsx

!media/screenshot_2025-04-08_at_15.07.27.png
!media/Screenshot 2025-04-08 at 15.09.11.png
!media/Screenshot 2025-04-08 at 15.10.10.png
!media/Screenshot 2025-02-05 at 14.31.10.png
!media/Screenshot 2025-02-05 at 20.44.42.png
!media/Screenshot 2025-02-05 at 20.42.40.png